*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --green: #0B4937;
    --green-lit-100: #89DB7F;
    --green-lit-200: #88f7c3d5;
    --green-drk-100: #161717;


    --lit-design: #FCF1D4;
    --lit-text-design: #955A0F;

    --lit-bg-100: #ffffff;
    --lit-bg-300: #BDBCBD;
    --lit-bg-500: #F6F6F6;

    --text-lit-100: #ffffff;
    --text-lit-200: #e2e2e2;

    --text-drk-100: #000000;
    --text-drk-200: #3a3a3a;
    --text-drk-300: #696969;
    
    --text-grn-100: #0E6149;
    --text-grn-200: #89DA7E;
}

html,
body{
    font-size: 14px;
    background: #ddd;
}

.container{
    width: 80%;
    margin-inline: auto;
}


nav{
    display: flex;
    padding: 2rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav .nav-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    background: var(--lit-bg-100);
    padding: 1rem 1.5rem;
    align-items: center;
    border-radius: 4ch;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.153);
}

nav .nav-container .logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 900;
    font-size: 16px;
    color: var(--green-drk-100);
    cursor: pointer;
    text-decoration: none;
}

.nav-container .navlist{
    display: flex;
    gap: 2rem;
    
}
.list-items{
    list-style: none;
    cursor: pointer;

    a{
        text-decoration: none;
        color: var(--text-drk-300);
        text-transform: capitalize;
        font-weight: 500;
        letter-spacing: 1px;
        transition: all 500ms ease;
    }

    &:hover{
        a{
            color: var(--text-drk-100);
        }

        .dropdown{
            display: flex;
        }
    }
}


.dropdown{
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    display: none;
    background: transparent;
    padding: 2rem 0 0 0;
    transition: all 500ms ease;
    height: fit-content;
    
    .dropdown-env{
        padding: 1rem;
        border-radius: 2ch;
        background: #fff;
        width: 100%;

        .dropdown-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        .privacy-container{
            grid-column: span 2;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            .privacy{
                position: relative;
                display: flex;
                align-items: end;
                overflow: hidden;
                background: var(--green);
                padding: 1rem;
                height: 18rem;
                color: var(--lit-bg-100);
                font-size: 28px;
                border-radius: 1ch;

                h3{
                    font-weight: 400;
                    width: min(12rem, 100%);
                    position: relative;
                    z-index: 1;
                }

                img{
                    width: 10rem;
                    position: absolute;
                    right: 0;
                }
            }

            .company{
                position: relative;
                display: flex;
                align-items: end;
                overflow: hidden;
                background: var(--green-lit-100);
                padding: 1rem;
                height: 18rem;
                font-size: 28px;
                border-radius: 1ch;
                
                h3{
                    color: var(--text-drk-200);
                    font-weight: 400;
                    width: min(12rem, 100%);
                    position: relative;
                    z-index: 1;
                }

                img{
                    width: 16rem;
                    position: absolute;
                    right: 0;
                }
            }
        }

        > .col-8{
            grid-column: span 2;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            padding: 1rem;
            border-radius: 1ch;
            background: var(--lit-bg-500);

            .key-container{
                display: flex;
                padding: 1rem;
                border-left:1px solid var(--lit-bg-300);

                .menukey-card{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .key-image{
                        width: 100%;
                        height: 100%;
                        display: inline;
                        
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    p{
                        font-size: 12px;
                        text-align: center;
                    }
                }

            }

            .col-right{
                display: flex;
                flex-direction: column;
                

                h2{
                    font-size: 16px;
                    font-weight: 800;
                    text-transform: capitalize;
                }
                p{
                    font-size: 12px;
                    color: var(--text-drk-300);
                    padding-bottom: 1rem;
                }

                > ul{
                    display: flex;
                    flex-direction: column;

                    li{
                        list-style: none;
                        padding: .5rem;
                        border-radius: 1ch;
                        transition: all 400ms ease;


                        a{
                            display: flex;
                            gap: 1rem;
                            align-items: center;

                            color: var(--text-drk-300);

                            i{
                                width: 30px;
                                height: 30px;
                                background: #ddd;
                                border-radius: 50%;
                                display:flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 12px;
                                transition: all 300ms ease;
                            }
                        }

                        &:hover{
                            a{
                            i{
                            background: var(--lit-bg-300);
                        }
                    }
                    }

                }
                .dif{
                    a{
                        i{
                            background: var(--green) !important;
                            color: var(--lit-bg-500);
                        }
                    }
                }
            }
             }
         }

         .col{
            .col-right{
                display: flex;
                flex-direction: column;

                h2{
                    font-size: 16px;
                    font-weight: 800;
                    text-transform: capitalize;
                }
                p{
                    font-size: 12px;
                    color: var(--text-drk-300);
                    padding-bottom: 1rem;
                }

                > ul{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    li{
                        list-style: none;
                        border-radius: 1ch;
                        transition: all 400ms ease;

                           a{
                            display: flex;
                            gap: 1rem;
                            align-items: center;

                            color: var(--text-drk-300);

                            i{
                                width: 30px;
                                height: 30px;
                                background: #ddd;
                                border-radius: 50%;
                                display:flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 12px;
                                transition: all 300ms ease;
                            }

                        }
                        &:hover{
                            a{
                            i{
                            background: var(--lit-bg-300);
                        }
                    }
                    }
                    }
                        
                }
            }
         }

         > .col-4{
            display: grid;
            grid-template-rows: repeat(2,1fr);
            gap: 1rem;
            

            .col{
                display: flex;
                flex-direction: column;
                gap: .5rem;
                background: var(--lit-bg-500);
                padding: 1rem;
                border-radius: 1ch;


                h5{
                    font-size: 14px;
                    font-weight: 800;
                    color: var(--text-drk-100);
                    text-transform: capitalize;
                }

                p{
                    font-size: 11px;
                    width: min(14rem, 100%);
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    color: var(--text-drk-300);

                    span{
                        font-size: 14px;
                        font-weight: 500;
                        color: var(--green-drk-100);
                    }
                }
            }

            .col-1{
                background-image: url(../img/touch.webp);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: right;
            }
            .col-2{
                background-image: url(../img/lappy.webp);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: right;
            }

         }

        }

    }
}

img{
    width: 10px;
}

.right-nav{
    display: flex;
    li{
        display: flex;
    }
}


/* Hero section */
.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 70vh;
    overflow: hidden;
    padding: 2rem 0 4rem 0;

    .page-cloth{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.609);
        z-index: 3;
    }

    video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    .hero-container{
        position: relative;
        z-index: 20;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4rem;
        
        .hero-content{
            width: min(28rem, 100%);
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h1{
                font-size: 70px;
                color: var(--text-lit-200);
                font-weight: 500;
                
                span{
                    position: relative;

                    &::after{
                        content: "";
                        position: absolute;
                        bottom: .5rem;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background: var(--green);
                        z-index: 1;
                    }   
                }
            }

            p{
                font-size: 14px;
                color: var(--text-lit-200);
                font-weight: 500;
            }

            a{
                padding: 1rem 2rem;
                text-decoration: none;
                background: var(--green-lit-100);
                width: max-content;
                border-radius: 4ch;
                font-weight: 600;
                color: var(--green);
            }
        }

        .rate{
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: space-between;
            
            .rate-left{
                align-items: center;
                display: flex;
                gap: 1rem;
                .rating{
                    display: flex;
                    gap: .8rem;
                    align-items: center;
                    padding: .5rem;
                    background: var(--lit-design);
                    border-radius: 4ch;

                    .rating-img{
                        width: 20px;
                        height: 20px;
                        overflow: hidden;
                        border-radius: 50%;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    h6{
                        font-size: 14px;
                        font-weight: 600;
                    }

                    i{
                        color: orange;
                    }
                }   

                h5{
                    color: var(--text-lit-100);
                    display: flex;
                    gap: .5rem;
                    font-weight: 600;
                }

                .image-container{
                    display: flex;
                    gap: 1rem;
                    align-items: center;

                    img{
                        width: 100px;
                        object-fit: cover;
                    }
                }
            }

        }
    }
}



/* why section */
.why{
    padding: 5rem 0;
    background: var(--lit-bg-500);

    .why-container{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .why-content{
            display: flex;
            flex-direction: column;
            gap: 5rem;

            .why-heading{
                display: flex;
                justify-content: space-between;
                align-items: end;

                h1{
                    font-size: 70px;
                    width: min(39rem, 100%);
                    font-weight: 500;
                    color: var(--green-drk-100);
                }

                a{
                    padding: 1rem 2rem;
                    text-decoration: none;
                    background: var(--green);
                    color: var(--lit-bg-100);
                    border-radius: 4ch;
                    font-weight: 600;
                    font-size: 16px;
                }
            }

            .why-container-details{
                padding: 2rem;
                background: var(--lit-bg-100);
                border-radius: 2ch;
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .why-box{
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    h4{
                        font-size: 32px;
                        font-weight: 600;
                        color: var(--green-drk-100);
                    }

                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: 1.5rem;

                        li{
                            font-size: 18px;
                            list-style: none;
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            font-weight: 500;
                            color: var(--text-drk-300);
                            i{
                                color: var(--green);
                            }
                        }
                    }
                }
                .green{
                    ul{
                        li{
                            i{
                                color: var(--green-lit-100);
                            }
                        }
                    }
                }
            }
            .why-image-section{
                display: flex;
                flex-direction: column;
                gap: 5rem;

                .first-whyimage{
                    height: 50vh;
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    align-items: end;
                    justify-content: center;
                    padding: 1rem;
                    border-radius: 2ch;

                    .page-cloth{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(180, 180, 180, 0.609);
                        z-index: 3;
                    }
                
                    video{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        z-index: 1;
                    }

                    .image-contents{
                        display: flex;
                        gap: 2rem;
                        position: relative;
                        z-index: 10;

                        p{
                            display: flex;
                            gap: 1rem;
                            font-size: 16px;
                            font-weight: 500;

                            i{
                                color: var(--green);
                            }
                        }
                    }
                }
                .second-whyimage{
                    background: url(../img/);
                    height: 50vh;
                    position: relative;
                    overflow: hidden;
                    display: flex;
                    align-items: end;
                    justify-content: center;
                    padding: 1rem;
                    border-radius: 2ch;

                    &::after{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(180, 180, 180, 0.609);
                        z-index: 3;
                    }
                }
            }
        }
    }

}
/* why section */




